{% if type == 'block' %}
  {% assign id = block.id %}
  {% assign title = block.settings.title %}
  {% assign frontpage_products_limit = block.settings.frontpage_products_limit %}
  {% assign featured_collection = block.settings.frontpage_collection %}
  {% assign products = collections[featured_collection].products %}
  {% assign products_per_row = block.settings.frontpage_products_per_row %}
{% else %}
  {% assign id = section.id %}
  {% assign title = section.settings.title %}
  {% assign frontpage_products_limit = section.settings.frontpage_products_limit %}
  {% assign featured_collection = section.settings.frontpage_collection %}
  {% assign products = collections[featured_collection].products %}
  {% assign products_per_row = section.settings.frontpage_products_per_row %}
{% endif %}



<div class="container featured_products">
  <div class="sixteen columns center homepage_content">
    {% if title != blank %}
      <h2 class="title">
        <a href="{{ collections[featured_collection].url }}">{{ title | escape }}</a>
      </h2>
      <div class="feature_divider"></div>
    {% endif %}
    {% if collections[featured_collection].description != blank %}
      <div class="section clearfix">
        {{ collections[featured_collection].description }}
      </div>
    {% endif %}
    {% if products.length > 0 %}
      {% assign limit = frontpage_products_limit %}
      {% include 'product-loop', limit: limit %}
    {% else %}
      {% assign limit = frontpage_products_limit %}
      {% for i in (1..limit) %}
        <div class="{% if products_per_row == 2 %}eight{% elsif products_per_row == 3 %}one-third {% elsif products_per_row == 4 %}four{% endif %} {% if products_per_row == 3 %}column{% else %}columns{% endif %}
        {% if products_per_row == 2 %}{% cycle 'alpha', 'omega' %}{% elsif products_per_row == 3 %}{% cycle 'alpha','', 'omega' %}{% elsif products_per_row == 4 %}{% cycle 'alpha','', '', 'omega' %}{% endif %} thumbnail ">
          <a href="#" itemprop="url">
            <div class="relative product_image">
              {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
              {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
            </div>
            <div class="info">
              <span class="title">{{ 'homepage.onboarding.product_title' | t }}</span>
                <span class="price">
                <span>$49.60</span>
              </span>
            </div>
          </a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>